body {
  background-color: #cbd6db;
  background: linear-gradient(#a3c0ce, #bac3c6, #9ad3ab);
  background-size: 1500px 1365px;
  background-attachment: fixed;
}

h1 {
  padding-bottom: 20px;
}

.container {
  padding-top: 3%;
}

.nav-tabs {
  margin-bottom: 40px;
}

img {
  width: 350px;
  margin-left: 15%;
}

h2 {
  padding-bottom: 30px;
}

p {
  line-height: 0.5;
}

.well p {
  line-height: 1.4;
  padding-left: 50px;
}

.important {
  color: #1f3460;
}

.well {
  margin-top: 50px;
  background: linear-gradient(to bottom right, #ffffff, #c1c1c1);
  width: 450px;
}

ol a {
  text-decoration: underline;
  line-height: 3;
}

.panel-heading a {
  line-height: 1;
}

.panel-heading {
  background-color: #a3c0ce!important;
}

.panel-heading:hover {
  background-color: #abd1b6!important;
}

.panel-title {
  color: #515151;
}

#wi.panel-body {
  height: 300px;
  background-image: url(../img/ss1.png);
  background-size: contain;
}

#dv.panel-body {
  height: 300px;
  background-image: url(../img/ss2.png);
  background-size: contain;
}

#as.panel-body {
  height: 300px;
  background-image: url(../img/ss3.png);
  background-size: contain;
}

#id.panel-body {
  height: 300px;
  background-image: url(../img/ss4.png);
  background-size: contain;
}

#bs.panel-body {
  height: 300px;
  background-image: url(../img/ss5.png);
  background-size: contain;
}

#rs.panel-body {
  height: 300px;
  background-image: url(../img/ss6.png);
  background-size: contain;
}

#bg.panel-body {
  height: 300px;
  background-image: url(../img/ss7.png);
  background-size: contain;
}

#bl.panel-body {
  height: 300px;
  background-image: url(../img/ss8.png);
  background-size: contain;
}

#cs.panel-body {
  height: 300px;
  background-image: url(../img/ss9.png);
  background-size: contain;
}

#ir.panel-body {
  height: 300px;
  background-image: url(../img/ss10.png);
  background-size: contain;
}

#db.panel-body {
  height: 300px;
  background-image: url(../img/ss11.png);
  background-size: contain;
}
